<a href="https://colab.research.google.com/github/Dhawaldwivedi/Bsc-3rd-sem-python-mmdu/blob/main/ai-ml-g2/basic_python_and_conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
print("hey")

hey

# Comments

In [39]:
# single line comment
# This is a single line comment

In [41]:

# multi line comment
''' this is a
multiline
comment'''
print('hi')

hi

# Variables

In [ ]:
# declaring and assigning variables

In [42]:
a = 9
print(a)

9

In [45]:
b = 3.4
print(b)
print(a)

3.4
9

In [14]:
c = "hey"
c

'hey'

In [15]:
d= True
d

True

In [16]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [48]:
__ = 10
print(__)

10

In [ ]:


# valid invalid variable names
-ab
a@b
2ab
_ab1 = 10

9

In [ ]:
# case sensitivity in python
Name = "Dhawal"
print(name)

NameError: name 'name' is not defined

In [ ]:
## Understanding Variable types
## Python is dynamically typed,type of a variable is determined at runtime

In [53]:
# Type Conversion
a = 3
type(a)
print(a)

3

In [54]:
b = float(a)
print(type(b))
print(b)

<class 'float'>
3.0

In [55]:
c = str(b)
print(type(c))
print(c)

<class 'str'>
3.0

In [ ]:
d = "hi"
a = int(d)

ValueError: invalid literal for int() with base 10: 'hi'

In [57]:
# variables reinitialization
v = 9
v =8.99
v = "hi"
v

'hi'

In [60]:
# input function
var = int(input("enter a number "))
var

enter a number 4

4

In [61]:
type(var)

int

# Data Types

In [ ]:
# understanding different data types
# int
# float
# bool
# string

In [28]:
# adding 2 diff datatype variables

a = 3
b = 4.5
c = a+b
print(type(c))

<class 'float'>

In [63]:
c = "hi"
d = c+ str(a)
print(d)

hi3

# Operators

In [30]:
# Arithmetic Operators
# addition
# subtraction
# multiplication
# division
# modulus
# floor division
# exponential
a = 12
b = 5
print(a%b)
print(a/b)
print(a//b)
print(a**b) # a^b

2
2.4
2
248832

In [ ]:
# comparison operators
# equals ==
# not equals !=
# greater than
# less than
print(a==b)  # a=b
print(a!=b)
a>=b
a<=b

False
True

In [ ]:
# logical operators
# and
# or
# not
a = True
b = False
print(a and b)
print(a or b)
print( not b)

False
True
True

# simple calculator program

In [ ]:
# create a simple calculator program taking 2 inputs from user and printing different arithemtic outputs

# Conditionals

In [ ]:
# basics which enables decision making in python

In [66]:
a = 5
if a>5:
  print(" a is greater than 5")
elif a==5:
  print("a is 5")
else:
  print("a is less than 5")

a is 5

In [ ]:
#Q) Find if the number is even

In [ ]:
# elif
# if condition:
    #print(true)
# elif conditon2:
#    print(true)
# else:
# print(true)
if()
if()



if()
elif()

In [69]:
# nested conditonals
## number even ,odd,negative
a = int(input("enter the number "))
if a>0:
  if a%2==0:
    print("even")
  else:
    print("odd")
else:
  print("negative")

enter the number -3
negative

In [ ]:
## Simple Calculator program
# Take user input for operation

In [ ]:
 # A simple user login system that checks the username and password.
user = "admin"
password = "admin@123"

In [70]:
# marks baSED ON grade
''' 90+ --> A+
    80-89 -->A
    70-79 --> B
    50-69 --> C
    below 50 --> D '''
name = "Dhawal"
marks = 34
print(f"{name} has scored {marks} marks")

Dhawal has scored 34 marks