<a href="https://colab.research.google.com/github/Dhawaldwivedi/Bsc-3rd-sem-python-mmdu/blob/main/ai-ml-g2/List_Tuple_BSc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

In [53]:
# empty list
lst = []
lst

[]

In [54]:
# defining a list
lst = [3,4,5,"gfg"]
lst

[3, 4, 5, 'gfg']

In [55]:
# fruits
fruits = ['apple','banana','cherry','mango']
fruits

['apple', 'banana', 'cherry', 'mango']

In [57]:
# accessing different elements
fruits[-1]

'mango'

In [58]:
# changing element
fruits[1]= 'apple'
fruits

['apple', 'apple', 'cherry', 'mango']

In [59]:
# append
fruits.append('orange')
fruits

['apple', 'apple', 'cherry', 'mango', 'orange']

In [60]:
# insert
fruits.insert(1,'kiwi')
fruits

['apple', 'kiwi', 'apple', 'cherry', 'mango', 'orange']

In [62]:
# pop
fruits.pop(2)
fruits

['apple', 'kiwi', 'cherry', 'mango']

In [63]:
# sort
fruits.sort()
fruits

['apple', 'cherry', 'kiwi', 'mango']

In [64]:
# reverse
fruits.reverse()
fruits

['mango', 'kiwi', 'cherry', 'apple']

In [72]:
# slicing
lst = [1,2,6,3,8,8,3,3,1,0]
lst[::-1]

[0, 1, 3, 3, 8, 8, 3, 6, 2, 1]

In [73]:
# clear
lst.clear()
lst

[]

In [79]:
# list comprehension
[x**2 for x in range(10) if x%2==0]

[0, 4, 16, 36, 64]

In [ ]:
lst = [0,1,2,3,4,5,6,7,8,9]
for i in lst:
  print(lst[i]**2)

# Tuples

In [80]:
# empty tuple
t = ()
print(type(t))

<class 'tuple'>

In [ ]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [82]:
numbers=tuple([1,2,3,4,5,6])
numbers[3]

4

In [83]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [84]:
## Tuple Operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [85]:
mixed_tuple*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [86]:
lst=[1,2,3,4,5]
print(lst)

lst[1]="Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [ ]:
numbers[2]= "Krish"

TypeError: 'tuple' object does not support item assignment

In [87]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
## Packing and Unpacking tuple
## packing
packed_tuple=(1,"Hello",3.14)
print(packed_tuple)

(1, 'Hello', 3.14)

In [90]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [92]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [95]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[2][1:3]

['Hello', 3.14]

In [ ]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

In [ ]:
# write a function to find all duplicate elements in a list
lst = [1,1,2,2,3,3,3,4,5,6,6,9]