<a href="https://colab.research.google.com/github/Dhawaldwivedi/Bsc-3rd-sem-python-mmdu/blob/main/ai-ml-g2/Loops_and_Functions_Bsc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
print('hi')

hi

# Loops

In [ ]:
range(4)

In [41]:
# for loop
for i in range(3,9):
  print(i)

3
4
5
6
7
8

In [46]:
# step size  range(start index , end+1 index , step size)
for i in range(7,71,7):
  print(i)

7
14
21
28
35
42
49
56
63
70

In [47]:
# iterating a string
s = "mmdu"
for i in s:
  print(i)

m
m
d
u

In [ ]:
# while loop
i = 0
while i<5:
  print(i)
  i= i+1

0
1
2
3
4

In [50]:
# break
for i in range(10):

  if i==5:
    break
  print(i)

0
1
2
3
4

In [49]:
#continue
for i in range(10):
  if i ==5:
    continue
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# nested loops
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [51]:
i = 0
j = 6
print(f"value of i is {i} and j is {j}")

value of i is 0 and j is 6

In [ ]:
# calculate sum of first n natural numbers

In [54]:
# pattern printing
for i in range(4):
  for j in range(4):
    print("*",end = "")
  print()

****
****
****
****

In [57]:
for i in range(4):
  for j in range(i+1):
    print("*",end = "")
  print()

*
**
***
****

In [ ]:
''' *****
    ****
    ***
    **
    *
'''

# Functions

In [58]:
# function definition
def greet():
  print("hello")

In [60]:
# function call
for i in range(10):
  greet()

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
# types of function

In [64]:
# local and globaL values in a function
a = 5
def fun():
  d = 3

print(fun())

None

In [67]:
# parameters in a function
def add(a,b):
  print(a+b)

add(3,6,7)

TypeError: add() takes 2 positional arguments but 3 were given

In [69]:
# return statement
def fun1(a,b):
  return a+b,a-b,a*b,a/b

fun1(3,5)

(8, -2, 15, 0.6)

(72, 54, 567, 0)

In [73]:
# default parameter
def fun(name= "gfg"):
  print(f"hello {name}")

fun("dhawal")

hello dhawal

In [75]:
# keyword and positional arguments
# positional
def student(name,age):
  print(f"{name} is {age} years old")


student(30,"Amit")

30 is Amit years old

In [76]:
# keyword
student(age = 30,name="Amit")

Amit is 30 years old

In [ ]:
# wap to find max of 3 numbers

In [ ]:
# print multiplication table of a number using function