<a href="https://colab.research.google.com/github/Dhawaldwivedi/Bsc-3rd-sem-python-mmdu/blob/main/ai-ml-g3/basic_python_and_conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
print("hey")

hey

# Comments

In [87]:
# single line comment
# This is a single line comment

In [89]:

# multi line comment
''' this is a
     multiline
     comment '''
print("hey")

hey

# Variables

In [91]:
# declaring and assigning variables
a = 23
a

23

In [92]:
b = 2.45
print(b)

2.45

In [93]:
c = "hey"
print(c)

hey

In [94]:
d = True
print(d)

True

In [96]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [67]:
# valid invalid variable names
2ab = 10
a@b
a-b

In [97]:
# case sensitivity in python
Name = "Dhawal"
name = "dwivedi"
print(Name)
print(name)

Dhawal
dwivedi

In [69]:
## Understanding Variable types
## Python is dynamically typed,type of a variable is determined at runtime

In [100]:
# Type Conversion
a = 10
print(type(a))
b = float(a)
print(type(b))
c = str(a)
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [101]:
d = "hello"
v = int(d)
print(v)

ValueError: invalid literal for int() with base 10: 'hello'

In [104]:
# variables reinitialization
var = 21
var = 23.45
var = "hey"
print(var)

hey

In [110]:
# input function
v = float(input("enter a number "))
print(v)

enter a number 89.7
89.7

In [112]:
type(v)

float

# Data Types

In [73]:
# understanding different data types
# int
# float
# bool
# string

In [113]:
# adding 2 diff datatype variables
a = 10
b = 23.5
c = a+b
print(type(c))

<class 'float'>

In [115]:
a = 2
b = "hey"
c= str(a)+b
print(c)

2hey

# Operators

In [118]:
# Arithmetic Operators
# addition
# subtraction
# multiplication
# division
# modulus
# floor division
# exponential
a = 12
b = 5
print(a/b)
print(a//b)
print(a**b)

2.4
2
248832

In [120]:
# comparison operators
# equals ==
# not equals !=
# greater than
# less than
print(a==b)
print(a!=b)
a>=b
a<=b

False
True

In [124]:
# logical operators
# and
# or
# not
a= True
b = False
print(a and b)
print(a or b)
print(not b)

False
True
True

# simple calculator program

In [78]:
# create a simple calculator program taking 2 inputs from user and printing different arithemtic outputs

# Conditionals

In [79]:
# basics which enables decision making in python

In [126]:
a=3
if a>5:
  print("a is greater than 5")
else:
  print("a is less than 5")

a is less than 5

In [128]:
#Q) Find if the number is even
if a%2==0:
  print("even")
else:
  print("odd")

odd

In [81]:
# elif
# if condition:
    #print(true)
# elif conditon2:
#    print(true)
# else:
# print(true)

In [130]:
# nested conditonals
## number even ,odd,negative
num= -9
if num>0:
  if num%2==0:
    print("even")
  else:
    print("odd")
else:
  print("negative")

negative

In [83]:
## Simple Calculator program
# Take user input for operation

In [84]:
 # A simple user login system that checks the username and password.
user = "admin"
password = "admin@123"

In [85]:
# marks baSED ON grade
''' 90+ --> A+
    80-89 -->A
    70-79 --> B
    50-69 --> C
    below 50 --> D '''

' 90+ --> A+\n    80-89 -->A\n    70-79 --> B\n    50-69 --> C\n    below 50 --> D '