<a href="https://colab.research.google.com/github/Dhawaldwivedi/Bsc-3rd-sem-python-mmdu/blob/main/ai-ml-g3/List_Tuple_BSc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

In [2]:
# empty list
lst = []
type(lst)

list

In [3]:
# defining a list
lst = [3,4,5,"gfg",7.8,True]
lst

[3, 4, 5, 'gfg', 7.8, True]

In [4]:
# fruits
fruits = ['apple','banana','cherry','mango']
fruits

['apple', 'banana', 'cherry', 'mango']

In [5]:
# accessing different elements
fruits[2]

'cherry'

In [6]:
# changing element
fruits[1]= 'Pineapple'
fruits

['apple', 'Pineapple', 'cherry', 'mango']

In [7]:
# append
fruits.append('orange')
fruits

['apple', 'Pineapple', 'cherry', 'mango', 'orange']

In [8]:
# insert
fruits.insert(1,'kiwi')
fruits

['apple', 'kiwi', 'Pineapple', 'cherry', 'mango', 'orange']

In [10]:
# pop
fruits.pop(2)
fruits

['apple', 'kiwi', 'cherry', 'mango']

In [11]:
# sort
fruits.sort(ascending=False)
fruits

['apple', 'cherry', 'kiwi', 'mango']

In [12]:
# reverse

fruits.reverse()
fruits

['mango', 'kiwi', 'cherry', 'apple']

In [19]:
# slicing
lst = [1,2,6,3,8,8,3,3,1,0]
lst[::-1]

[0, 1, 3, 3, 8, 8, 3, 6, 2, 1]

In [21]:
# clear
fruits.clear()
fruits

[]

In [23]:
# list comprehension
[x**2 for x in range(10) if x%2==0]

[0, 4, 16, 36, 64]

In [ ]:
lst = [0,1,2,3,4,5,6,7,8,9]
for i in lst:
  print(lst[i]**2)

# Tuples

In [24]:
# empty tuple
t = ()
print(type(t))

<class 'tuple'>

In [ ]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [25]:
numbers=tuple([1,2,3,4,5,6])
numbers[3]

4

In [26]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [ ]:
## Tuple Operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [27]:
mixed_tuple*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [28]:
lst=[1,2,3,4,5]
print(lst)

lst[1]="Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [29]:
numbers[2]= "Krish"

TypeError: 'tuple' object does not support item assignment

In [30]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [31]:
## Packing and Unpacking tuple
## packing
packed_tuple=(1,"Hello",3.14)
print(packed_tuple)

(1, 'Hello', 3.14)

In [32]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [36]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,middle,*last=numbers
print(first)
print(middle)
print(last)

1
2
[3, 4, 5, 6]

In [38]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[2][1:3]

['Hello', 3.14]

In [ ]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

In [ ]:
# write a function to find all duplicate elements in a list
lst = [1,1,2,2,3,3,3,4,5,6,6,9]
lst1= [1,2,3,6]