<a href="https://colab.research.google.com/github/Dhawaldwivedi/Bsc-3rd-sem-python-mmdu/blob/main/ai-ml-g3/Loops_and_Functions_Bsc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hey")
print("hey")

# Loops

In [ ]:
range(4)

In [2]:
# for loop
for i in range(2,5):
  print(i)

2
3
4

In [4]:
# step size  range(start index , end+1 index , step size)
for i in range(15,3,-2):
  print(i)

15
13
11
9
7
5

In [5]:
# iterating a string
s = "mmdu"
for i in s:
  print(i)

m
m
d
u

In [6]:
# while loop
i = 0
while i<5:
  print(i)
  i= i+1

0
1
2
3
4

In [7]:
# break
for i in range(10):
  print(i)
  if i==5:
    break

0
1
2
3
4
5

In [8]:
#continue
for i in range(10):
  if i ==5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [9]:
# nested loops
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [10]:
i = 4
j = 5

print(f"value of i is {i} and j is {j}")

value of i is 4 and j is 5

In [ ]:
# calculate sum of first n natural numbers

In [14]:
# pattern printing
rows = 4
for i in range(4):
  for j in range(4):
    print("*",end = "")
  print()

****
****
****
****

In [18]:
for i in range(5):
  for j in range(i):
    print("*",end = "")
  print()

*
**
***
****

In [ ]:
''' *****
    ****
    ***
    **
    *
'''

# Functions

In [20]:
# function definition
def greet():
  print("hello")

In [22]:
# function call
for i in range(5):
  greet()

hello
hello
hello
hello
hello

In [ ]:
# types of function
# print , input , pow , sqrt , len() , sum() , max()

In [25]:
# local and globaL values in a function
a = 5 # global
def fun():
  b = 3  # local

fun()

In [28]:
# parameters in a function
def add(a,b):
  print(a+b)

add(3,6)

9

In [29]:
# return statement
def add(a,b):
  return a+b

add(3,5)

8

In [30]:
def opr(a,b):
  return a+b,a-b,a*b,a%b

opr(63,9)

(72, 54, 567, 0)

In [34]:
# default parameter
def fun(name="Dhawal"):
  print(f"hello,{name}")

fun()

hello,Dhawal

In [36]:
# keyword and positional arguments
# positional
def student(name,age):
  print(f"{name} is {age} years old")


student(30,"Amit")

30 is Amit years old

In [37]:
# keyword
student(age=30,name="Amit")

Amit is 30 years old

In [ ]:
# wap to find max of 3 numbers

In [ ]:
# print multiplication table of a number using function