<a href="https://colab.research.google.com/github/Dhawaldwivedi/Bsc-3rd-sem-python-mmdu/blob/main/bsc-pds/Loops_and_Functions_Bsc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('hi')

hi

# Loops

In [ ]:
range(4)

In [3]:
# for loop
for i in range(2,9):
  print(i)

2
3
4
5
6
7
8

In [7]:
# step size  range(start index , end+1 index , step size)
for i in range(12,2,-3):
  print(i)

12
9
6
3

In [8]:
# iterating a string
s = 'mmdu'
for i in s:
  print(i)

m
m
d
u

In [ ]:
# while loop
i = 0
while i<5:
  print(i)
  i= i+1

0
1
2
3
4

In [9]:
# break
for i in range(10):
  print(i)
  if i==5:
    break

0
1
2
3
4
5

In [ ]:
#continue
for i in range(10):
  if i ==5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
# nested loops
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [10]:
i = 4
j = 7

print(f"value of i is {i} and j is {j} ")

value of i is 4 and j is 7

In [ ]:
# calculate sum of first n natural numbers

In [13]:
# pattern printing
for i in range(4):
  for j in range(4):
    print("*",end = "")
  print()

****
****
****
****

In [16]:
for i in range(4):
  for j in range(i+1):
    print("*",end = "")
  print()

*
**
***
****

In [ ]:
''' *****
    ****
    ***
    **
    *
'''

# Functions

In [17]:
# function definition
def greet():
  print("hello")

In [19]:
# function call
for i in range(10):
  greet()

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
# types of function
# in build - len() , print() , input , sum , max , min ,
# user defined

In [22]:
# local and globaL values in a function
b = 4  # global
def fun():
  a = 10 # local
  print(a)


print(fun())

10
None

In [26]:
# parameters in a function
def add(a,b):
  print(a+b)

add(8,3)

11

In [28]:
# return statement
def add(a,b):
  return a+b,a-b,a*b,a/b

add(23,4)

(27, 19, 92, 5.75)

(72, 54, 567, 0)

In [34]:
# default parameter
def fun(name = "Dhawal"):
  print(f"hello {name}")

fun("gfg")

hello gfg

In [36]:
# keyword and positional arguments
# positional
def student(name,age):
  print(f"{name} is {age} years old")


student(30,"Amit")

30 is Amit years old

In [37]:
# keyword
student(age = 30, name = "Amit")

Amit is 30 years old

In [ ]:
# wap to find max of 3 numbers

In [ ]:
# print multiplication table of a number using function