<a href="https://colab.research.google.com/github/Dhawaldwivedi/Bsc-3rd-sem-python-mmdu/blob/main/bsc-pds/Python_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#python data structures
# List  - students= [stu1, stu2, stu3]
#         students_roll_no = [1,2,3]
#         student_address = ["Noida","Delhi","Mumbai"]

In [1]:
st = {"name":"Dhawal","Roll_no":2,"Age":43}

In [ ]:
# dictionary - key - value pair
# 1:stu1 ,2:stu2

In [2]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [ ]:
empty_dict = dict()
print(type(empty_dict))

In [3]:
student = {"name":"Dhawal","age":30,"grade":"A"}
print(student)

{'name': 'Dhawal', 'age': 30, 'grade': 'A'}

In [4]:
students = {"Dhawal":"name",22:"age","A":"grade"}
print(students)

{'Dhawal': 'name', 22: 'age', 'A': 'grade'}

In [5]:
student = {"name":"Dhawal","age":24,"grade":"A","name":"gfg"}
student

{'name': 'gfg', 'age': 24, 'grade': 'A'}

In [8]:
student["gfg"]

KeyError: 'gfg'

In [7]:
student['age']

24

In [9]:
student["marks"]

KeyError: 'marks'

In [16]:
# get method
student.get("mark","not present")

'not present'

In [ ]:
student.get("name","Not Available")  # default value

In [ ]:
student

In [17]:
# alter values
student['name']= "Dhawal"
student["age"]= 26

In [18]:
student["address"]= "Noida"
student

{'name': 'Dhawal', 'age': 26, 'grade': 'A', 'address': 'Noida'}

In [19]:
del student["grade"]

In [20]:
student

{'name': 'Dhawal', 'age': 26, 'address': 'Noida'}

In [21]:
student.keys()

dict_keys(['name', 'age', 'address'])

In [22]:
student.values()

dict_values(['Dhawal', 26, 'Noida'])

In [23]:
student.items()

dict_items([('name', 'Dhawal'), ('age', 26), ('address', 'Noida')])

In [24]:
# concept of shallow copy
student_copy = student
student_copy

{'name': 'Dhawal', 'age': 26, 'address': 'Noida'}

In [25]:
student["name"]= "Dhawal2.0"

In [26]:
print(student)
print(student_copy)

{'name': 'Dhawal2.0', 'age': 26, 'address': 'Noida'}
{'name': 'Dhawal2.0', 'age': 26, 'address': 'Noida'}

In [27]:
student_copy1 = student.copy()
student_copy1

{'name': 'Dhawal2.0', 'age': 26, 'address': 'Noida'}

In [28]:
student["name"]= "Dhawal3.0"

In [29]:
student

{'name': 'Dhawal3.0', 'age': 26, 'address': 'Noida'}

In [30]:
student_copy1

{'name': 'Dhawal2.0', 'age': 26, 'address': 'Noida'}

In [31]:
student_copy

{'name': 'Dhawal3.0', 'age': 26, 'address': 'Noida'}

In [ ]:
print(student)

In [ ]:
print(student_copy1)

In [ ]:
print(student_copy)

In [32]:
# iteration
for i in student.keys():
  print(i)

name
age
address

In [33]:
for j in student.values():
  print(j)

Dhawal3.0
26
Noida

In [34]:
for i,j in student.items():
  print(f"{i}:{j}")

name:Dhawal3.0
age:26
address:Noida

In [36]:
# nested dictionaries
student = {"student1":{"name":"Dhawal","age":24},
           "student2":{"name":"Harsh","age":25}}

In [37]:
student

{'student1': {'name': 'Dhawal', 'age': 24},
 'student2': {'name': 'Harsh', 'age': 25}}

In [38]:
print(student["student1"]["name"])

Dhawal

In [39]:
student["student2"]["age"]

25

In [44]:
# iterate in nested dictionary
for i ,j in student.items():  # outer dict
  print(f"{i}:{j}")
  for key,value in j.items():          # inner dict
    print(f"{key}:{value}")

student1:{'name': 'Dhawal', 'age': 24}
name:Dhawal
age:24
student2:{'name': 'Harsh', 'age': 25}
name:Harsh
age:25

In [41]:
{x:x**2 for x in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
# dictionary comprehension

In [42]:
even = {x:x**2 for x in range(10) if x%2==0}
even

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [43]:
# count of elements using a dictionary
numbers = [1,1,1,2,2,2,2,2,3,3,4,4,4,4,4,4,4,5]
freq={}
for i in numbers:    # freq = {1:3,2:1}
  if i in freq:
    freq[i]+=1
  else:
    freq[i]=1

freq

{1: 3, 2: 5, 3: 2, 4: 7, 5: 1}

Question :
You are given a list of integers representing the IDs of students who have signed up for an event, but some students have signed up multiple times by mistake. Your task is to:

Remove duplicates to get the unique IDs of students who signed up. Identify students who have both signed up and attended the event (IDs are given in a separate list of attendees). Classify each student as: "Attended" if they signed up and attended. "No-show" if they signed up but did not attend. Finally, print a summary showing the count of "Attended" and "No-show" students. Input:

A list of integers signups, where each element represents a student ID who signed up for the event. (It may contain duplicates.) A list of integers attendees, where each element represents a student ID who attended the event. Output: Print each unique student ID along with its status ("Attended" or "No-show") and a summary like the example below.

In [ ]:
signups = [101,102,103,104,102,105,103,106,107]
attendees = [101,102,103,103,105,106]

In [ ]:
""" 101 : attended
102 : attended
103 : attended
104 : no show

Summary
no of attendees =
no shows = """

In [ ]:
signups = [101,102,103,104,102,105,103,106,107]
attendees = [101,102,103,103,105,106]

unique_signups = set(signups)
unique_attendees = set(attendees)

attendees_count =0
no_show_count =0

for i in unique_signups:
  if i in unique_attendees:
    print(f"{i}:Attended")
    attendees_count+=1
  else:
    print(f"{i}:No show")
    no_show_count+=1

print("\nsummary")
print(f"attended: {attendees_count}")
print(f"no show: {no_show_count}")

Unique Common Elements
Problem: You are given two lists of integers. Write a program to:

Find the unique common elements between the two lists. Print these common elements in sorted order. If there are no common elements, print "No common elements".

In [ ]:
list1 = [1,2,3,4,5,6,6,3,4,7,8]
list2 =[0,10,12,12,0,4,2]

In [ ]:
text = "hello world"
# find character count and return a dictionary