<a href="https://colab.research.google.com/github/Dhawaldwivedi/Bsc-3rd-sem-python-mmdu/blob/main/bsc-pds/sets_bsc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sets

In [ ]:
# unordered structure of unique elements

In [36]:
# create a set
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [3]:
type(my_set)

set

In [37]:
my_set2 = {}  # empty dictionary
type(my_set2)

dict

In [38]:
empty_set = set()
type(empty_set)

set

In [39]:
my_set = {1,2,2,3,3,4,4,4,4,5,6}
print(my_set)

{1, 2, 3, 4, 5, 6}

In [7]:
# set operations
my_set.add(7)
my_set

{1, 2, 3, 4, 5, 6, 7}

In [40]:
my_set.add(7)
my_set

{1, 2, 3, 4, 5, 6, 7}

In [41]:
my_set.remove(7)
my_set

{1, 2, 3, 4, 5, 6}

In [ ]:
my_set.remove(10)

KeyError: 10

In [44]:
# discard
my_set.discard(90)
my_set

{1, 2, 3, 4}

{4, 5, 6, 7, 8}

In [47]:
my_set.discard(10)
my_set

{2, 3, 4}

In [48]:
# pop function
a= my_set.pop()

In [49]:
a

2

In [ ]:
b= my_set.pop()

In [ ]:
b

5

In [50]:
my_set.clear()

In [51]:
my_set

set()

In [21]:
#set membership test
my_set = {1,2,3,4,5,6,7}
print(3 in my_set)

True

In [22]:
print(9 in my_set)

False

In [23]:
# mathematical operations on sets
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

## union
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
## intersection
intersection_set = set1.intersection(set2)
intersection_set

{4, 5, 6}

In [25]:
## difference
print(set1.difference(set2))

{1, 2, 3}

In [26]:
print(set2.difference(set1))

{8, 9, 7}

In [27]:
## symmetric difference
print(set1.symmetric_difference(set2))

{1, 2, 3, 7, 8, 9}

In [28]:
set1 = {1,2,3,4,5}
set2 = {3,4,5}

# subset
set2.issubset(set1)

True

In [29]:
set1.issuperset(set2)

True

In [30]:
lst = [1,2,3,4,4,5,6]
set(lst)

{1, 2, 3, 4, 5, 6}

In [56]:
## counting unique words in text
text ="In the tutorial we are discussing about the sets in the we are "
words = text.split()
print(words)
print(len(words))
uni = set(words)
print(len(uni))
print(uni)

['In', 'the', 'tutorial', 'we', 'are', 'discussing', 'about', 'the', 'sets', 'in', 'the', 'we', 'are']
13
9
{'about', 'discussing', 'we', 'In', 'the', 'are', 'tutorial', 'in', 'sets'}

In [ ]:
# strip , split , replace