<a href="https://colab.research.google.com/github/Dhawaldwivedi/Bsc-3rd-sem-python-mmdu/blob/main/ai-ml-g1/basic_python_and_conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
print("hey")

hey

# Comments

In [24]:
# single line comment
# This is a single line comment

In [26]:

# multi line comment
''' this is
a multiline
comment'''
print("hi")

hi

# Variables

In [3]:
# declaring and assigning variables

In [28]:
a = 10
print(a)

10

In [29]:
b = 3.22
print(b)

3.22

In [30]:
c = "hey"
print(c)

hey

In [31]:
d = True
print(d)

True

In [33]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [4]:


# valid invalid variable names
-ab = 10
a@b
1ab

In [34]:
# case sensitivity in python
Name = "dhawal"
print(name)

NameError: name 'name' is not defined

In [6]:
## Understanding Variable types
## Python is dynamically typed,type of a variable is determined at runtime

In [35]:
# Type Conversion

a = 12
type(a)

int

In [36]:
b = float(a)
type(b)

float

In [38]:
c = str(b)
type(c)

str

In [39]:
v ="hi"
c = int(v)

ValueError: invalid literal for int() with base 10: 'hi'

In [42]:
# variables reinitialization
v = 10
v = 12.34
v = "hey"
v

'hey'

In [45]:
# input function
v = int(input("enter the number "))
v

enter the number 7

7

In [46]:
type(v)

int

# Data Types

In [10]:
# understanding different data types
# int
# float
# bool
# string

In [47]:
# adding 2 diff datatype variables
a = 34
b = 34.5
c= a+b
type(c)

float

In [49]:
d = "hi"
e = d+ str(a)
e

'hi34'

# Operators

In [51]:
# Arithmetic Operators
# addition
# subtraction
# multiplication
# division
# modulus
# floor division
# exponential
a = 12
b = 5
print(a/b)
print(a//b)
print(a**b)

2.4
2
248832

In [54]:
# comparison operators
# equals ==
# not equals !=
# greater than
# less than
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
True
False

In [57]:
# logical operators
# and
# or
# not
a = True
b = False
print(a and b)
print(a or b)
print( not b)

False
True
True

# simple calculator program

In [15]:
# create a simple calculator program taking 2 inputs from user and printing different arithemtic outputs

# Conditionals

In [16]:
# basics which enables decision making in python

In [60]:
a = 1
if a>5:
  print("a is greater than 5")

else:
  print("a is less than 5")

a is less than 5

In [17]:
#Q) Find if the number is even

In [18]:
# elif
# if condition:
    #print(true)
# elif conditon2:
#    print(true)
# else:
# print(true)

In [63]:
# nested conditonals
## number even ,odd,negative
a = int(input("enter a number "))
if a>0:
  if a%2==0:
    print("even")
  else:
    print("odd")
else:
  print("negative")

enter a number -9
negative

In [20]:
## Simple Calculator program
# Take user input for operation

In [21]:
 # A simple user login system that checks the username and password.
user = "admin"
password = "admin@123"

In [22]:
# marks baSED ON grade
''' 90+ --> A+
    80-89 -->A
    70-79 --> B
    50-69 --> C
    below 50 --> D '''

' 90+ --> A+\n    80-89 -->A\n    70-79 --> B\n    50-69 --> C\n    below 50 --> D '