<a href="https://colab.research.google.com/github/Dhawaldwivedi/Bsc-3rd-sem-python-mmdu/blob/main/ai-ml-g1/Loops_and_Functions_Bsc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
print('hi')
print('hi')

hi
hi

# Loops

In [ ]:
range(4)

In [8]:
# for loop
for i in range(3,10):
  print(i)

3
4
5
6
7
8
9

In [9]:
# step size  range(start index , end+1 index , step size)
for i in range(3,13,2):
  print(i)

3
5
7
9
11

In [10]:
# iterating a string
s = "mmdu"
for i in s:
  print(i)

m
m
d
u

In [ ]:
# while loop
i = 0
while i<5:
  print(i)
  i= i+1

0
1
2
3
4

In [11]:
# break
for i in range(10):

  if i==5:
    break
  print(i)

0
1
2
3
4

In [12]:
#continue
for i in range(10):
  if i ==5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
# nested loops
for i in range(3): # 0,1,2
    for j in range(2):  # 0,1
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [13]:
i = 4
j = 7

print(f"the value of i is {i} and j is {j}")

the value of i is 4 and j is 7

In [ ]:
# calculate sum of first n natural numbers

In [16]:
# pattern printing
''' *****
    *****
    *****
    *****
    ***** '''
for i in range(5):
  for j in range(5):
    print("*",end="")
  print()

*****
*****
*****
*****
*****

In [19]:
for i in range(4):
  for j in range(i+1):
    print("*",end="")
  print()

*
**
***
****

In [ ]:
''' *****
    ****
    ***
    **
    *
'''

# Functions

In [20]:
# function definition
def greet():
  print('Hey')

In [22]:
# function call
for i in range(4):
  greet()

Hey
Hey
Hey
Hey

In [ ]:
# types of function
# inbuild - print() , input() , min , max , count , sum
# user defined - greet()

In [24]:
# local and globaL values in a function
a = 3  # global variable
def fun():
  b = 5  # local variable

print(b)

NameError: name 'b' is not defined

In [28]:
# parameters in a function
def add(a,b):
  print(a+b)

add(3,4)

7

In [31]:
# return statement
def add(a,b):
  return a+b,a-b,a*b,a/b

add(6,3)

(9, 3, 18, 2.0)

(72, 54, 567, 0)

In [35]:
# default parameter
def fun(name = "mmdu"):
  print(f"hello {name}")

fun("Dhawal")

hello Dhawal

In [37]:
# keyword and positional arguments
# positional
def student(name,age):
  print(f"{name} is {age} years old")


student(32,"Amit")

32 is Amit years old

In [39]:
# keyword
student(age=32,name="Amit")

Amit is 32 years old

In [ ]:
# wap to find max of 3 numbers

In [ ]:
# print multiplication table of a number using function